<app-box titulo="Usuário">
  <form class="form-horizontal" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="box-body">

      <app-input label='Nome'>
        <input type="text" id="nome" class="form-control" formControlName="nome">
      </app-input>

      <app-input label='Telefone'>
        <input type="text" id="telefone" class="form-control" formControlName="telefone">
      </app-input>


    </div>
    <!-- /.box-body -->
    <div class="box-footer">
      <button type="submit" class="btn btn-danger">Voltar</button>
      <button type="submit" class="btn btn-success">Salvar</button>
    </div>
    <!-- /.box-footer -->
  </form>
</app-box>